extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='make') Make:
      input#make.form-control(type='text', placeholder='Make of car' name='make' required='true' value=(undefined===car ? '' : car.make) )
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===car ? '' : car.description}
    div.form-group
      label(for='team') Team:
      select#team.form-control(type='select', placeholder='Select team' name='team' required='true' )
        - teams.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for team in teams
          if car
            option(value=team._id selected=(team._id.toString()===car.team._id.toString() ? 'selected' : false) ) #{team.name}
          else
            option(value=team._id) #{team.name}
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='text', placeholder='1000000' name='price' value=(undefined===car ? '' : car.price) required='true')
    div.form-group
      label(for='number_in_stock') Number of cars developed:
      input#number_in_stock.form-control(type='text', placeholder='1' name='number_in_stock' value=(undefined===car ? '' : car.number_in_stock) required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
